<configuration>
<system.webServer>
  <rewrite>
    <rules>
			<rule name="Angular Routes EN" stopProcessing="true">
             <match url="\/en.*" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             </conditions>
             <action type="Rewrite" url="en" />
         </rule>

         <rule name="Angular Routes Default" stopProcessing="true">
             <match url=".*" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             </conditions>
             <action type="Rewrite" url="/fr" />
         </rule> 
         <rule name="Angular Routes FR" stopProcessing="true">
             <match url="\/fr.*" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             </conditions>
             <action type="Rewrite" url="fr" />
         </rule> 
         <rule name="Angular Routes AR" stopProcessing="true">
             <match url="\/ar.*" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             </conditions>
             <action type="Rewrite" url="ar" />
         </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>