<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserPath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="WebAPIServer" value="https://localhost:5001/" />
    <add key="ClientServer" value="http://192.168.0.6:8087/ar/" />
    <add key="ApplicationType" value="IPTV" />
  </appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>